# Set token name in digital ocean console under API>Tokens/Keys>Generate New Token
do_token = "aaaaaaaaaaaaaaaaaaaaaaaa"

# wireguard keys
wg_privatekey="aaaaaaaaaaaaaaaaaa"
wg_publickey="aaaaaaaaaaaaaaaaa"

#variable "droplet_image"
#variable "droplet_region"
#variable "droplet_size"
