# Set token name in digital ocean console under API>Tokens/Keys>Generate New Token
pvt_key  = "token_name"
do_token = "aaaaaaaaaaaaaaaaaaaaaaaa"

# Generate ssh key locally
# ssh-keygen -f ./digital_ocean_key -t ed25519 -C "myemailaddress@gmail.com"
# and poplate following directions here https://cloud.digitalocean.com/account/security
ssh_key_fingerprint = "00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"

## also required - variables from setting up dynamic dns provider
dynu_credentials = "<username>:<password>"
dynu_domain      = "<domain_you_control>"
dynu_api_key     = "<dynu_api_key>"

## required for let's encrypt registration - a valid email address
le_email_addr = "<myemailaddress@gmail.com>"

## set the credentials for the wireguard UI to administrate users
wgui_username = "<wgui-username>"
wgui_password = "<wgui-password>"

#variable "droplet_image"
#variable "droplet_region"
#variable "droplet_size"
